### Temporary Folders ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
build/**
bin/**
.engine
.tmp
.artifacts

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store

# Dependencies
testbox/**
tests/results/**
.agents/skills/**